<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td>
      <h1>Search</h1>
      <%= react_component("SearchByPrice") %>
    </td>
    <td>
      <h1>Products Selected</h1>
      <table class="table">
        <tbody>

          <% mid_row = false %>

          <% @products.each_with_index do |product, index| %>
            <% if index % 3 == 0 %>
              <tr>
              <% mid_row = true %>
            <% end %>

              <td>
                <img className='Products' src="assets/product.jpg" alt="Products" height="80" width="80"><br>
                <%= link_to "#{product.title}", product %><br>
                Cost: <%= product.price %>
              </td>

            <% if index % 3 == 2 %>
              </tr>
              <% mid_row = false %>
            <% end %>
          <% end %>

          <% if mid_row == true %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </td>
  </tr>
</table>
